@font-face {
  font-family: neu;
  src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(./NeueHaasDisplayRoman.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "neu";
}
html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  width: 100%;
  min-height: 100vw;
  background-color: #efeae3;
  position: relative;
  padding: 0vw 2vw;
}
nav {
  padding: 2vw 0vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.ham{
  display: none;
}
@media (max-width: 450px) {
  #nav-part2 {
    display: none;
  }
  .ham{
    display: block;
    background-color: #efeae3;
    
  }
  .ham img{
    width: 30px;
    height: 30px;
  
  }
}
#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}
#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}
#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
#nav-part2 h4 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
#nav-part2 h4:hover a {
  color: #fff;
}
#center {
  height: 65vw;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 2.5vw;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}
#center h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
}
#page1 video {
  width: 100%;
  margin-top: 8vw;
  border-radius: 30px;
  position: relative;
}
#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 75vh;
}
#hero-1 {
  background-color: #fe320a;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}
#hero-2 {
  background: linear-gradient(#fe320a, #fe3f0a);
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  filter: blur(25px);
}
#hero-3 {
  background: linear-gradient(#fe320a, #fe3f0a);
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  filter: blur(25px);
}
@keyframes anime1 {
  from {
    transform: translateX(55%) translateY(-3%);
  }
  to {
    transform: translateX(0%) translateY(10%);
  }
}
@keyframes anime2 {
  from {
    transform: translateX(5%) translateY(-5%);
  }
  to {
    transform: translateX(-20%) translateY(30%);
  }
}

#page2 {
  min-height: 100vw;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
}

#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}
#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}
#moving-text::-webkit-scrollbar {
  display: none;
}

.con {
  
  white-space: nowrap;
  display: inline-block;
  align-items: center;
  animation: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.con h1 {
  vertical-align:auto;
}
#gola {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #fe320a;
  display: inline-block;
  margin: 1vw 2vw;
  vertical-align:auto;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#page2-bottom {
  height: 80vw;
  width: 100%;
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}
#page2-bottom h1 {
  font-size: 4vw;
  line-height: 4vw;
  width: 60%;
}
.featured-heading {
  font-size: 1vw;
  font-weight: 200;
  margin-left: 2vw;
  margin-bottom: 2vw;
  color: #000;
}
.orange-dot {
  
  margin-right: 0.5vw;
  width: 10px;
  height: 10px;
  background-color: #fe320a; /* Same orange as rest of the site */
  border-radius: 50%;
  display: inline-block;
}
#bottom-part2 {
  width: 20%;
}
#bottom-part2 img {
  width: 100%;
  border-radius: 15px;
}
#bottom-part2 p {
  margin-top: 2vw;
  font-size: 1vw;
  font-weight: 200;
}
#page2 #gooey {
  height: 30vw;
  width: 30vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  top: 58%;
  filter: blur(30px);
  left: 25%;
  animation-name: gooey;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes gooey {
  from {
    transform: translate(10%, -10%) skew(0);
  }

  to {
    transform: translate(-10%, 10%) skew(-12deg);
  }
}
#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 4vw 0vw;
}
.elem {
  position: relative;
  height: 150px;
  width: 100%;
  border-bottom: 1px solid rgb(172, 169, 169);
  display: flex;
  align-items: center;
  padding: 0 2vw;
  position: relative;
  overflow: hidden;
}
.elem h2 {
  font-size: 3vw;
  z-index: 1;
  position: relative;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;

  transition: all ease 0.2s;
}
.elem:hover .overlay {
  top: 0%;
}
#fixed-image{
  position: fixed;
  top: 25%;
  left: 50%;
  width: 24vw;
  height: 30vw;
  z-index: 99;
  
  border-radius: 10px;
  display: none;
  background-size: cover;
  background-position: center;

}
.elem{
  display: flex;
  justify-content: space-between;
}
.info h3{
  padding-left: 0.1vw;
  opacity: 0.4;
  font-size: 0.99vw;
  font-weight: 200;
}
.info h2{
  font-size: 1vw;
  font-weight: 200;
}
.nike h2{
  padding-left: 3vw;
}
#page4{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3; 

}
#page5{
  display: flex;
  justify-content:flex-start;
  align-items:center;
  height: 5vh;
  width: 100%;
  background-color: #efeae3; 

}
#textcontainer{
  display: inline-flex;
  align-items: center;
  border: 1px solid #0000003c;
  border-radius: 15px;
  padding: 0.5vw 1vw;
  gap: 0.5vw;
  margin: 0 7vw ;
}
#textcontainer img{
  width: 20px;
  height: 20px;
  
}
.dpeContainer{
  display: flex;
  height: 70vh;
  width: 85vw;
  border-radius: 10px;
  overflow: hidden;

  
  

}
.left{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:45%;
  background-color: black;
}
.right img{
  display: block;
  border-radius: inherit;
  object-fit: cover;
  height:100%;
  width:100%;
}
.right{
  background-color:transparent;
  width:55%;
}

.dpetext h1{
  font-weight: 300;
  color: #efeae3;
  margin-bottom:3vw ;
}
.dpetext h6{
  font-weight: 200;
  color: #efeae3;
}



